.react-app-site {
  header,
  main {
    margin-bottom: auto;
  }

  > header {
    @include gradientAnimation(
      $site-header-background,
      horizontalLeftGradientAnimation
    );
  }
  > footer {
    flex-shrink: 0;
    @include gradientAnimation(
      $site-footer-background,
      horizontalRightGradientAnimation
    );
  }
}

.news-list {
  .title {
    font-family: $font-headers;
  }
}

.detailed-news-article {
  .url {
    font-family: $font-slider-links;
  }
}
