.react-app-site {
  main {
    margin-bottom: auto;
  }

  > header {
    background-color: black;
    color: white;
    /*@include gradientAnimation(
      $site-header-background,
      horizontalLeftGradientAnimation
    );*/
  }
  > footer {
    background-color: black;
    color: white;
    flex-shrink: 0;
    /* @include gradientAnimation(
      $site-footer-background,
      horizontalRightGradientAnimation
    );*/
  }
}

.news-list {
  .title {
    font-family: $font-headers;
  }
}

.detailed-news-article {
  * {
    font-family: $font-slider-links;
  }
}

.nav-pills .nav-link.active {
  background-color: $color-header-active-link-background;
  color: $color-header-active-link;
  border-radius: 0;
}

.nav-pills .nav-link {
  background-color: $color-header-link-background;
  color: $color-header-link;
}
