html,
body {
  height: 100%;
}

p,
span {
  font-size: 1rem;
}

#ovveride-bootstrap {
  :not(footer *) {
    font-family: $font-primary;
  }

  html {
    font-size: 16px;
  }

  header {
    h1 {
      font-family: $font-site-header;
    }
  }

  a:not(.url) {
    font-family: $font-links;
  }

  nav {
    a {
      &:not(.navbar-brand) {
        font-family: $font-site-nav-links;

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }

        &:hover {
          transform: none;
        }
      }
    }
  }

  footer {
    font-family: $font-footers;
  }
}
