{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": ["error", { "varsIgnorePattern": "ESLintIgnore" }],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "max-len": [1, 80, 2, { "ignoreComments": true }],
        "linebreak-style": ["error", "unix"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-param-reassign": ["error", { "props": false }],
        "no-use-before-define": [
            "error",
            { "functions": false, "classes": true }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.test.js",
                    "**/*.test.jsx",
                    "**/*.spec.js",
                    "**/jestsetup.js"
                ]
            }
        ]
    },
    "extends": [
        "airbnb",
        "plugin:react-redux/recommended",
        "plugin:jest/recommended",
        "jest-enzyme"
    ],
    "plugins": ["jsx-a11y", "import", "react", "react-redux", "jest"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true,
        "jest": true
    }
}
