{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": ["error", { "varsIgnorePattern": "ESLintIgnore" }],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "max-len": [1, 80, 2, { "ignoreComments": true }],
        "linebreak-style": ["error", "unix"],
        "indent": ["error", 4],
        "no-param-reassign": ["error", { "props": false }],
        "no-use-before-define": [
            "error",
            { "functions": false, "classes": true }
        ]
    },
    "extends": ["airbnb-base"],
    "plugins": ["jsx-a11y", "import", "react"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}
