$color-green: rgb(241, 15, 15);
$loading-font-color: $color-green;

.news-columns{
    .loading-header{
        font-size: 2rem;
        font-weight: bold;
        color: $loading-font-color;
    }
}
