@import "variables";

.news-list {
  min-width: 20rem;
  max-width: 63rem;

  .title {
    font-size: 3rem;
    text-align: center;
  }

  > * {
    &:nth-child(odd) {
      color: $odd-news-list-item-color;
    }

    &:nth-child(even) {
      color: $even-news-list-item-color;
    }
  }
}
