@import "variables";

.news-list {
  min-width: 20rem;
  max-width: 63rem;
  min-height: 100%;

  .title {
    font-size: 4rem;
    text-align: center;
  }

  .news-article {
    color: $news-list-item-color;
  }
}
