@import "./node_modules/bootstrap/scss/_functions.scss";
@import "./node_modules/bootstrap/scss/_variables.scss";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@include media-breakpoint-down(sm) {
  .site-header {
    h1 {
      font-size: 2rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .site-header {
    h1 {
      font-size: 4rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .site-header {
    svg {
      max-width: 4.5rem;
      max-height: 4.5rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .site-header {
    svg {
      max-width: none;
      max-height: none;
    }
  }
}
