@import "media";

.site-header-navigation {
  a {
    font-size: 3rem;
  }
}

.site-header {
  h1 {
    vertical-align: middle;
  }
}

.nav-menu-button {
  font-size: 4rem;
  color: white;
  background-color: black;
  border: 0;
  padding: 0;
}
