@import "./variables";
@import "./animations";

.detailed-news-article {
  height: 60vh;
  min-height: 35rem;
  background-size: cover;
  background-position: 50% 0;

  > * {
    background-color: $text-background-color;
    &:not(.url) {
      font-weight: bold;
    }
  }

  .title {
    @include fadeinAnimation(0s);
    font-size: 2.5rem;
    color: $title-font-color;
  }

  .photo {
    display: none;
    max-height: 500px;
    @include fadeinAnimation(1s);
    animation-fill-mode: forwards;
  }

  .description {
    @include fadeinAnimation(2s);
    font-size: 2rem;
    color: $description-font-color;
  }

  .url {
    @include fadeinAnimation(3s);
    color: $link-color;
    font-size: 3rem;
  }

  footer {
    @include fadeinAnimation(4s);
    color: $footer-font-color;
  }
}
