@import "./variables";
@import "./animations";

.detailed-news-article {
  height: 60vh;
  min-height: 35rem;
  background-size: cover;
  background-position: 50% 0;
  background-color: $overlay-color;

  * {
    font-weight: bold;
  }

  .title {
    align-self: start;
    font-size: 2rem;
    color: $title-font-color;
    background-color: $overlay-color;
    text-align: left;
  }

  .photo {
    display: none;
    max-height: 500px;
    animation-fill-mode: forwards;
  }

  .description {
    text-align: left;
    align-self: start;
    font-size: 1.5rem;
    color: $description-font-color;
    background-color: $overlay-color;
  }

  .url {
    background-color: $link-background-color;
    color: $link-color;
    border: 5px solid white;
    border-radius: 1rem;
    font-size: 3rem;
    transition: all 1s;

    &:hover {
      text-decoration: none;
      color: $link-hover-color;
      background-color: white;
    }
  }

  .bottom-content {
    position: absolute;
    bottom: 0;
  }

  footer {
    * {
      margin: 0 1rem;
    }

    margin: 1rem 0 1.5rem;
    color: $footer-font-color;
    background-color: $overlay-color;
  }
}
