@import "./variables";
@import "./animations";

.detailed-news-article {
  height: 60vh;
  background-size: cover;
  background-position: 50% 0;
  background-color: $overlay-color;
  overflow: hidden;

  * {
    font-weight: bold;
  }

  .news-content {
    background-color: $overlay-color;
  }

  .title {
    font-style: italic;
    font-size: 2rem;
    color: $title-font-color;
  }

  .photo {
    display: none;
    max-height: 500px;
    animation-fill-mode: forwards;
  }

  .description {
    font-size: 1rem;
    color: $description-font-color;
  }

  .place-holder {
    flex-grow: 1;
  }

  .url {
    background-color: $link-background-color;
    padding: 0.5rem;
    color: $link-color;
    border: 0.1rem solid $link-border-color;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 100;
    transition: all 1s;

    &:hover {
      text-decoration: none;
      color: $link-hover-color;
      background-color: $link-hover-background-color;
    }
  }

  .horizontal-line {
    width: 60%;
    margin: 0.25rem auto;
    border: 1px solid $horizontal-line-color;
  }

  footer {
    * {
      margin: 0 1rem;
    }

    margin: 1rem 0 1.5rem;
    color: $footer-font-color;
    background-color: $overlay-color;
  }
}
